body{
    font-family:"poppins" , "sans-serif";
}
header{
    background-image:linear-gradient(45deg, #e9cff2 ,#8d63a1 );
}

.nav-link{
   color:#400245 !important;
}

form {

    width: 900px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items:center;
  }

 
.btn-outline-primary{
    border-radius: 40px;
   
}

nav ul ul {
    display:none;
}

nav ul li:hover>ul{
    display:block;
}

.card{
    background: #f9effc;
    
}
  

.btn-card{
    background-color: #52439A;
    color:#f9effc
}

.custom-line{
    border: none;
    height: 4px; 
    background-color: #6a19cc; 
    margin: 3px 0;
}

h3{ 
    text-decoration: underline;
    line-height: 2.5;
}

h4{
    line-height: 2.5; 
    
}

h5{
    display:inline-flex
    
}

.form-control9{
    height: 200px;
}

a{
text-decoration: none ;
color:#000000;
}


.text{
   text-decoration:none; 
}

.btn-primary{
    border-radius: 20cap;
}


.comment{
    display: flex;
  justify-content: space-between;
  }

.input-group-text{
    color: #f8f3fe;
    background-color: #8d63a1;
}




